@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

h1, h2, p {
  text-align: center;
}

h2 {
  margin-top: 2em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}
table {
  margin: auto;
  text-align: center;
  border-collapse: collapse;
  width: 50%;
}

thead {
  column-count: 3;
}

th {
  background-color: #d87a7a;
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 20px;
}

td {
  text-align: left;
  padding: 3px;
  font-size: 18px;
  background-color: rgb(228, 207, 207);
}

.new-member-form {
  display: block;
  margin: 15px;
  text-align: center;
}

.id {
  margin: 2em 0 4em 0;
  text-align: center;
}

footer {
  margin-top: 19em;
  text-align: center;
  color: #fff;
  background: #d87a7a;
  padding: 0.25em 0;
}